* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: none;
    list-style: none;
    text-decoration: none;
    border: 0;
}

:root {
    --font: 'Montserrat', sans-serif;
    --white: #FFFFFF;
    --black: #000000;
    --gray: #E2E2E2;
}

body {
    font-family: var(--font);
}